# Byte-compiled / Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
env/
venv/
ENV/

# Entornos virtuales
.venv

# Docker / Logs
*.log
.docker/

# Grafana & Prometheus (datos persistentes locales)
grafana_data/
prometheus_data/

# Variables de entorno y secretos
.env
.env.local
*.pem
*.key

# IDEs & Editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Terraform (por si agregas IaC más adelante)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars